.order_confirm {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
}

.order_confirm * {
    margin: 0;
}

.order_confirm_header {
    text-transform: uppercase;
    font-family: OpenSans-Bold sans-serif;
}

.order_confirm_header_input {
    font-family: OpenSans-Regular sans-serif;
    margin-bottom: 20px;
}


.order_confirm_input_block {
    margin-top: 30px;
}

.order_confirm_form_wrapper {
    display: flex;
    flex-direction: column;
}

.order_input_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.order_label {
    margin: 0;
    font-family: OpenSans-Bold sans-serif;
}

.order_label:hover {
    cursor: pointer;
}

.order_input{
    width: 75%;
}

.order_confirm_information_block {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.order_product {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order_product_name {
    font-family: OpenSans-Regular sans-serif;
    width: 70%;
}

.order_product_price {
    font-family: OpenSans-Bold sans-serif;
    text-align: end;
    width: 20%;
}

.order_confirm_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.order_confirm_full_price {
    font-family: OpenSans-Bold sans-serif;
    font-size: 20px;
    margin-left: 25px;
}

.order_confirm_button {
    font-family: OpenSans-Bold sans-serif;
    color: white;
    background-color: green;
    padding:  8px;
    border: none;
    border-radius: 3px;
}

.order_confirm_button:focus {
    border: none;
}

.order_confirm_button:hover {
    background-color: #395f39;
}
