.header_block_page {
    position: relative;
    padding-top: 10px;
    padding-bottom: 5px;
}

.header_products_page {
    font-family: OpenSans-Bold sans-serif;
    font-size: 1.8rem;
    color: #141e23;
    text-transform: uppercase;
}

.header_block_page:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    height: 3px;
    background-color: #a59c91;
}

.cards_products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}

.cards_products * {
    margin: 0;
    padding: 0;
}

.product_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 33.33%;
}

.product_card_body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
    border: 3px solid #141e23;
    border-radius: 3px;
}

.product_card_body:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #7996ad;
    opacity: 0.2;
}

.product_card:nth-child(n+4) {
    margin-top: 30px;
}

.product_card_image_block {
    border-bottom: none;
    width: 100%;
    height: 100%;
}

.image_card_product {
    width: 100%;
}

.card_information_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid #141e23;
    width: 100%;
    min-height: 200px;
    justify-content: space-between;
    padding-bottom: 20px;
    background-color: #e7f7ff;

}

.card_information_wrapper {
    text-align: center;
}

.card_price_wrapper {
    margin-top: 15px;
}

.product_card_price {
    font-family: OpenSans-Bold sans-serif;
    font-size: 1.7rem;
    color: #9e2f0c;
    padding: 5px;
}

.product_card_text {
    font-family: OpenSans-Bold sans-serif;
    font-size: 1rem;
    color: #190707;
}

.product_radius {
    font-family: OpenSans-Regular sans-serif;
}

.card_button_wrapper {
    z-index: 1;
}

.product_card_button {
    color: white;
    background-color: #1e475a;
    padding: 10px 20px;
}

.product_card_button:hover {
    text-decoration: none;
    background-color: #327392;
    color: whitesmoke;
}
