
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Rubik', sans-serif;
    color: #2d3138;
}


.logotype {
    color: #1d2124;
}

 .header_contacts {
     color: #1d2124;
     font-weight: 500;
 }

.header_description {
    color: #1d2124;
    font: 18pt/14pt Rubik;
    font-weight: 500;
}

.image_phone {
    max-height: 22px;
}

.image_mail {
    max-height: 22px;
}

.image_send_mail {
    max-height: 22px;
}

.link_send_mail {
    text-decoration-line: none;
    color: inherit;
}

.link_send_mail:hover {
    text-decoration: none;
}

.nav-item{
    color: #ebeef1;
    text-decoration-line: none;
}

.nav-item:hover{
    color: #a0a4a9;
    text-decoration-line: none;
}

.card_button {
    background-color: #f77103;
    color: white;
}

.card_button:hover {
    background-color: #f9a01c;
    color: white;
}

.card {
    border-color: #e1e3e5;
    border-width: 1px;
    margin-top: 15px;
}

.content_description {
    border-top: solid #e1e3e5;!important;
}

.block_content {
    min-height: 100%;
}

.description_production {
    border-top: solid #e1e3e5;!important;
}

.our_advantage {
    border-top: solid #e1e3e5;!important;
}

.footer_block {
    background: #2d3138;
    color: white;
}

.footer_logo {
    font-weight: 100;
    font-size: 24px;
}

.footer_address {
    font-weight: 200;
    font-size: 14px;
}
small {
    color: grey;
}
.contacts-item > p > b {
    font-weight: 500;
    font-size: 20px;
}

.division-item > p > b {
    font-weight: 500;
    font-size: 20px;
}

